# Twitter data collection

In [3]:
import pickle
#import os
#from collections import Counter
#import json
#import datetime as dt
import twitter
import sqlite3
import pandas as pd
import numpy as np

In [4]:
Twitter=pickle.load(open('secret_twitter_credentials.pkl','rb'))

In [5]:
#!pip install twitter

## Authorizing an application to access Twitter account data

In [6]:
auth = twitter.oauth.OAuth(Twitter['Access Token'],
                           Twitter['Access Token Secret'],
                           Twitter['Consumer Key'],
                           Twitter['Consumer Secret'])

twitter_api = twitter.Twitter(auth=auth, retry=True)

## Collecting results in a sqlite database

In [7]:
conn = sqlite3.connect('tweets.db')
c = conn.cursor()

In [8]:
# Create base
#------------------------------------------------------------
# Table: statuses
#------------------------------------------------------------
c.execute('''CREATE TABLE statuses(
        id                    Int NOT NULL ,
        coordinates           Varchar (250) ,
        created_at            Varchar (250) ,
        favorite_count        Int ,
        lang                  Varchar (25) ,
        place                 Varchar (2500) ,
        scopes                Varchar (2500) ,
        retweet_count         Int ,
        source                Varchar (2500) ,
        txt                   Varchar (250) ,
        withheld_in_countries Varchar (250) ,
        retweeted_status_id   Int ,
        in_reply_to_status_id Int ,
        in_reply_to_user_id   Int,
        quoted_status_id      Int ,
        user_id               Int ,
        PRIMARY KEY (id )
        );''')

#------------------------------------------------------------
# Table: users
#------------------------------------------------------------
c.execute('''CREATE TABLE users(
        id                    Int NOT NULL ,
        screen_name           Varchar (250) ,
        created_at            Varchar (100) ,
        description           Varchar (2500) ,
        favourites_count      Int ,
        followers_count       Int ,
        friends_count         Int ,
        lang                  Varchar (25) ,
        listed_count          Int ,
        location              Varchar (250) ,
        name                  Varchar (25) ,
        statuses_count        Int ,
        PRIMARY KEY (id )
        );''')

#------------------------------------------------------------
# Table: mentions
#------------------------------------------------------------

c.execute('''CREATE TABLE mentions(
        status_id Int NOT NULL ,
        user_id Int NOT NULL ,
        PRIMARY KEY (status_id ,user_id )
);''')

#------------------------------------------------------------
# Table: tags
#------------------------------------------------------------

c.execute('''CREATE TABLE tags(
        status_id Int NOT NULL ,
        htg    Varchar (140) NOT NULL ,
        PRIMARY KEY (status_id ,htg )
);''')

OperationalError: table statuses already exists

In [9]:
def add_user(u,c):
    #Create the user entity and main attributes
    c.execute('''INSERT INTO users(id,screen_name,created_at,description,favourites_count,
            followers_count,friends_count,lang,listed_count,
            location,name,statuses_count)
    VALUES (?,?,?,?,?,?,?,?,?,?,?,?) ''', 
          (str(u['id']),u['screen_name'],u['created_at'],u['description'],str(u['favourites_count']),
            str(u['followers_count']),str(u['friends_count']),u['lang'],str(u['listed_count']),
              u['location'],u['name'],str(u['statuses_count'])))

In [10]:
def add_status(s,c):
    #Create the status entity and main attributes
    c.execute('''
    INSERT INTO 
        statuses(id,created_at,favorite_count,
        lang,retweet_count,source,txt)
    VALUES (?, ?,? ,?  ,? ,? ,?)''', (str(s['id']),s['created_at'],str(s['favorite_count']),
        s['lang'],
        str(s['retweet_count']),
        s['source'], 
        s['text']))
    
    #Facultative attributes (None if absent)
    for k in ['in_reply_to_status_id','place','coordinates','in_reply_to_user_id']:
        if s[k] is not None:
            v=(k, str(s[k]), str(s['id']))
            c.execute('''
            UPDATE statuses
            SET %s = ?
            WHERE id = ?''' % k, (str(s[k]), str(s['id'])))
    
    #Facultative attributes (not in s if absent)
    
    for k in ['scopes','withheld_in_countries','quoted_status_id']:
        if k in s :
            c.execute('''
            UPDATE statuses
            SET %s=?
            WHERE id=?'''% k,(str(s[k]),str(s['id'])))

    #Other entities
    for k in ['retweeted_status','user']:
        if k in s :
            c.execute('''
                UPDATE statuses
                SET %s_id=?
                WHERE id=?''' % k, (str(s[k]['id']),str(s['id'])))

            
            
    ###########################################USERS##############################################
    if (c.execute("SELECT * FROM users WHERE id=?", (str(s['user']['id']),)).fetchone())==None:
        u=twitter_api.users.show(id=str(s['user']['id']))
        add_user(u,c)
    #else MAJ user

    if not s['in_reply_to_user_id']==None:
        if (c.execute("SELECT * FROM users WHERE id=?", (str(s['in_reply_to_user_id']),)).fetchone())==None:
            u=twitter_api.users.show(id=str(s['in_reply_to_user_id']))
            add_user(u,c)
        #else MAJ user
        
    for u in s['entities']['user_mentions']:
        if (c.execute('''SELECT * FROM mentions 
                    WHERE status_id = ? AND user_id = ?''', (str(s['id']),str(u['id']))).fetchone())==None:
            #We do not register the multiple mentions of a user in a tweet
            c.execute('''INSERT INTO mentions(status_id ,user_id)
                        VALUES (?, ?)''', (str(s['id']),str(u['id'])))

            if (c.execute('''SELECT * FROM users WHERE id=?''', (str(u['id']),)).fetchone())==None:
                u=twitter_api.users.show(id=str(u['id']))
                add_user(u,c)       

    ################################# HASHTAGS #################################################
    for h in s['entities']['hashtags']:
        if (c.execute('''SELECT * FROM tags 
                    WHERE status_id=? AND htg = ?''',(str(s['id']),h['text'].lower())).fetchone())==None:
            #Ajouter le htg 
            c.execute('''INSERT INTO tags(status_id, htg) VALUES (?,?)''',(str(s['id']),h['text'].lower()))

In [11]:
htgs = ['#egalim','#egalimentation','#EtatsGenerauxdelAlimentation','#EGA']
w = ["états généraux de l'alimentation"]
nb = 100
lg='fr'

In [12]:
###Collection of data
req=c.execute('''SELECT id FROM statuses ORDER by id DESC''').fetchone()

if req == None:
    sid=0
else : sid=req[0]
    
statuses=[]
for q in htgs :
    l_nw_st=100
    s=[]
    mid=10**20

    while l_nw_st==100:
        search_results = twitter_api.search.tweets(q=q, count=nb,  result_type='recent',  since_id=sid, max_id=mid)
        nw_st=search_results['statuses']
        l_nw_st=len(nw_st)
        s.extend(nw_st)
        if len(s)>0 : mid=s[-1]['id']-1   
    statuses.extend(s)

In [13]:
l_st=len(statuses)
print(l_st)

9

In [14]:
[('{:-^100}'.format(s["user"]["screen_name"])+ '-'*5 + str(s['retweet_count'])+ '-'*2,s["text"],'') 
 for s in statuses][:5]

[('--------------------------------------------CoopdeFrance-------------------------------------------------0--',
  '#EGAlim PARTAGEONS NOS POSITIONS !\nComment soutenir des modes de consommation plus responsables ? https://t.co/BOT4zw4n2X',
  ''),
 ('-------------------------------------------DominiqueFayel------------------------------------------------7--',
  'RT @PBTerrenetMedia: #egalim #élevage #lait \nRelations commerciales \nLa FNPL veut renverser le sens des négociations \n➡️ https://t.co/lA8H5…',
  ''),
 ('---------------------------------------------news_rapha--------------------------------------------------1--',
  'RT @carmen_etche: Prix justes, contractualisation et alimentation de qualité : ensemble, ça peut fonctionner ! #EGalim https://t.co/VguDKui…',
  ''),
 ('-------------------------------------------PRESSEAGRICOLE------------------------------------------------7--',
  'RT @PBTerrenetMedia: #egalim #élevage #lait \nRelations commerciales \nLa FNPL veut renverser le sens des négociations \n➡️ https://t.co/lA8H5…',
  ''),
 ('--------------------------------------------EricBerton6--------------------------------------------------5--',
  'RT @MichelDANTIN: Intervention #egalim sur droit #concurrence &amp; organisation des producteurs - des avancées sont en cours à #Bruxelles avec…',
  '')]

In [15]:
for s in statuses:
    ls=len(c.execute('''SELECT * FROM statuses''').fetchall())
    lu=len(c.execute('''SELECT * FROM users''').fetchall())
    lh=len(c.execute('''SELECT * FROM tags''').fetchall())
    lm=len(c.execute('''SELECT * FROM mentions''').fetchall())
    print (ls,'  ',lu,'  ',lh,'  ',lm)
    #########################################STATUSES#############################################
    #main status
    if (c.execute("SELECT * FROM statuses WHERE id=?", (str(s['id']),)).fetchone())==None:
        add_status(s,c)
    
    #replied status
    if s['in_reply_to_status_id'] is not None:
        if (c.execute("SELECT * FROM statuses WHERE id=?", (str(s['in_reply_to_status_id']),)).fetchone())==None:
            r=twitter_api.statuses.show(id=s['in_reply_to_status_id'])
            add_status(r,c)        
                                           
    #quoted status
    if 'quoted_status_id' in s:
        if (c.execute("SELECT * FROM statuses WHERE id=?", (str(s['quoted_status_id']),)).fetchone())==None:
            q=twitter_api.statuses.show(id=s['quoted_status_id'])
            add_status(q,c)

3801    2147    6763    4907
3802    2147    6764    4907
3803    2148    6767    4908
3804    2149    6768    4909
3805    2150    6771    4910
3806    2150    6774    4911
3807    2150    6777    4912
3808    2150    6778    4913
3809    2150    6779    4913

In [16]:
ls=len(c.execute('''SELECT * FROM statuses''').fetchall())
lu=len(c.execute('''SELECT * FROM users''').fetchall())
lh=len(c.execute('''SELECT * FROM tags''').fetchall())
lm=len(c.execute('''SELECT * FROM mentions''').fetchall())
print (ls,'  ',lu,'  ',lh,'  ',lm)

3810    2150    6780    4915

In [17]:
conn.commit()

In [19]:
rows=c.execute('''SELECT users.screen_name, statuses.txt 
                    FROM users, statuses
                    WHERE 
                    statuses.user_id==users.id
                    AND users.name = ?''',('EGAlimentation',))

In [20]:
print('{:-^120}'.format(rows.fetchone()[0]),rows.fetchone()[1])

-----------------------------------------------------EGAlimentation----------------------------------------------------- RT @LaREM_AN: En appui aux #Egalim ➡️ #auditions en Com° aff éco de plus de 20 acteurs de l’alimentation sur la thématique du "partage de l…

## Data exploration

In [28]:
rows=c.execute('''SELECT users.screen_name, statuses.txt 
                    FROM users, statuses
                    WHERE statuses.user_id==users.id''').fetchall()

In [29]:
len(rows)

3809

In [36]:
list=[[name,status] 
     for (name,status) in rows]

In [37]:
list[:5]

[['COSTESLionelEr',
  'RT @M_Orphelin: Atelier "Comment mieux rémunérer les agriculteurs?" des #EGAlim. Nous travaillons ce matin sur de nouveaux types de contrat…'],
 ['Edelaloyere',
  'RT @alain_cardinaux: #EGalim 66% des prises de parole chez les agriculteurs proviennent de la @fnsea, tous médias confondus (selon @agence_…'],
 ['ChLambert_FNSEA',
  "Pour partager l'objectif de créer&amp;mieux répartir la valeur dans la chaine alim, échange avec les cadres… https://t.co/YCUYbSeIwo"],
 ['ClementineBabo1',
  '"Pourquoi la spirale #déflationniste doit nous interroger ? On ne peut plus avoir tout moins #cher..." https://t.co/osbDFlpGly'],
 ['amo_thinktwice',
  "[#EGAlim] Les cinq propositions de l'Agence Bio pour que la France maintienne son autosuffisance en produits bio… https://t.co/LI7OcVosxC"]]

In [35]:
dict={'name':name,
     'status':status 
     for (name,status) in rows}

SyntaxError: invalid syntax (<ipython-input-35-6345032a7155>, line 3)